language: php

php:
  - 7.1
  - 7.3
  - 7.4
  - nightly

env:
  - SYMFONY_VERSION=3.4.*
  - SYMFONY_VERSION=4.4.*

before_script:
  - composer self-update
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
  - composer update --no-interaction --prefer-source
  - ./src/BeSimple/SoapClient/Tests/bin/phpwebserver.sh
  - ./src/BeSimple/SoapClient/Tests/bin/axis.sh

script:
  - phpunit --coverage-text
